.form-group select{
  height: 57px;
}

#map {
  height: 80%;
  width: 100%;
}

.mapContent {
    width: 40%;
    height: 100%;
  }
  
  .mapStyle {
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 40%;
  }

  .tour-information {
    padding: 0px !important;  
 }

 .tour-attraction {
    padding: 0px !important;  
 }

 .things-todo {
    padding: 0px !important;  
 }

 .related-tours {
    padding: 0px !important;  
}

 .tabs .nav-tabs li a:hover {
    color: #45b0c6 !important;
 }

 .tour-location .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 40px;
}

.tour-attraction .attraction-carousel .attraction-box figcaption:after {
  content: "";
  width: 55px;
  height: 1px;
  background: #45b0c6;
  position: absolute;
  left: 30px;
  bottom: 25px;
  -webkit-transition: .25sease-in-out;
  transition: .25sease-in-out;
}

.adventure-activities .activities-carousel .activity-box figcaption:after {
  content: "";
  width: 55px;
  height: 1px;
  background: #45b0c6;
  position: absolute;
  left: 30px;
  bottom: 25px;
  -webkit-transition: .25sease-in-out;
  transition: .25sease-in-out;
}


.checkout .passengers-info form input[type="checkbox"] {
  border: 1px solid #45b0c6 !important;
}

.checkout .passengers-info form input[type="checkbox"]:checked {
  background: url(../images/icon-check.svg) center no-repeat !important;
  background-size: 18px auto;
}


.checkout .passengers-info form input[type="radio"] {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #45b0c6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkout .passengers-info form input[type="radio"]:checked {
  background: url(../images/icon-check.svg) center no-repeat;
  background-size: 18px auto;

  
}

.web {
  display: flex;
}

.movil {
  display: none;
}

  @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

    .web {
      display: none;
    }

    .movil {
      display: flex;
    }

    /* .slide-inner {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    } */

  .mapContent {
    width: 100%;
    height: 400px;
  }
  
  
  .mapStyle {
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 100%;
  }

  .imgResponsive {
    display: none;
  }

  .tour-location .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /* padding: 40px; */
}

.tabs .tab-content {
    width: 100%;
    float: left;
    border: none;
    background: #fff;
    padding: 0px;
}




}